@font-face {font-family: "Hurme Geometric Sans No.3";
    src: url("../fnt/hgs.woff") format("woff");
}
body,
html {
    height: 100%;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    scroll-behavior: smooth;
}

.navbar-nav>li {
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar-brand {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
}

.navbar h1 {
    all: unset;
}
.navbar {
    z-index: 1000;
}

.home {
    /*background: linear-gradient(135deg, #c1dfc4, #deecdd);*/
    background-color: #f1f2f6;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    height: calc(100vh - 55px);
}
.navbar-fix {
    height: 55px;
}
.cc-message {
    font-family: 'Source Sans Pro', sans-serif;
}

.cc-btn {
    font-family: 'Source Sans Pro', sans-serif;
}

.appstore_img {
    width: 200px;
}

.welcome {
    color: white;
}

.home h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}

.home h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    margin-bottom: 10px;
}


.home p {
    margin-bottom: 30px;
}

.start {
    margin-top: 100px;
    text-align: center;
}
.start-mockup-image {
    width: 100%;
    height: auto;
}
.start h1 {
    font-family: 'Hurme Geometric Sans No.3', sans-serif;
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 500;
    margin-bottom: 10px;
}

.start h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    margin-bottom: 10px;
}


.start p {
    margin-bottom: 30px;
}

.home_img {
    width: 80%;
}
.img_container {
    text-align: center;
}

.navbar {
    background-color: white;
}

.navbar-collapse {
    background: white;
}

.homerow {
    height: 100%;
}

.homecontainer {
    height: 100%;
}

.intro {
    max-width: 500px;
    margin: 0px auto 30px;
    text-align: center;
}

.intro p {
    color: #7d8285;
}

.start-intro {
    max-width: 600px;
    margin: 0px auto 20px;
    text-align: center;
}

.start-intro p {
    color: black;
    font-size: 22px;
}

@media only screen and (max-width: 600px) {
    .start-intro p {
        font-size: 16px;
    }
    .start {
        margin-bottom: 60px;
    }
    .start-mockup {
        margin-bottom: 60px;
    }
  }
  @media only screen and (max-height: 550px) {
    .start {
        margin-top: 10px;
    }
  }

.flag_img {
    height: 1em;
    margin-bottom: 3px;
}

.feature-item {
    min-height: 100px;
    padding-left: 80px;
    margin-top: 40px;
}

.feature-icon {
    font-size: 40px;
    color: #3498db;
    float: left;
    margin-left: -65px;
}

.features h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.features h2 {
    font-size: 70px;
    font-family: 'Hurme Geometric Sans No.3', sans-serif;
}

.features p {
    color: black;
    font-size: 18px;
}

.features a {
    text-decoration: none;
    border-bottom: 1px solid #3498db;
    box-shadow: inset 0 -1px 0 #3498db;
    color: inherit;
    transition: background 0.1s cubic-bezier(.33, .66, .66, 1);
}

.features a:hover {
    color: #000;
}

.about h2 {
    font-size: 70px;
    font-family: 'Hurme Geometric Sans No.3', sans-serif;
}

.about {
    padding-top: 80px;
}

.about-container {
    max-width: 700px;
    margin: 0px auto 0px;
    text-align: center;
}

.about-container p {
    color: black;
    text-align: justify;
    font-size: 18px;
}

.about a {
    text-decoration: none;
    border-bottom: 1px solid #3498db;
    box-shadow: inset 0 -1px 0 #3498db;
    color: inherit;
    transition: background 0.1s cubic-bezier(.33, .66, .66, 1);
}

.about a:hover {
    color: #000;
}

.showroom img {
    max-width: 100%;
    height: auto;
}

.showroom h2 {
    font-size: 70px;
    font-family: 'Hurme Geometric Sans No.3', sans-serif;
}

.showroom h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.showroom-item p {
    color: black;
    text-align: center;
    padding: 25px;
    font-size: 18px;
}

.footer {
    margin-top: 25px;
    padding-bottom: 25px;
    background-color: white;
    text-align: center;
}

.footer ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    padding-left: 0px;
    list-style: none;
    margin-top: 10px;
}

.footer li {
    padding: 0 15px;
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
}

@media (max-width: 576px) {
    .footer li {
        padding: 0 5px;
    }
}

.copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}

.logo {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}

.contactinfo {
    height: 100%;
}

.footer a {
    color: #636e72;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: none;
    color: black;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.features {
    padding-top: 55px;
}

.showroom {
    padding-top: 80px;
}
.showroom p {
    color: black;
    font-size: 18px;
}

@media (max-width: 768px) {
    .navbar {
        position: absolute;
        width: 100%;
        z-index: 9999;
    }

    .container {
        width: 80%;
    }
}
.feature-intro {
    max-width: 500px;
    margin: 120px auto 10px;
    text-align: center;
}

.feature-intro h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 2em;
}

.feature-intro p {
    color: #7d8285;
}

.feature-list {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #7d8285;
    text-align: center;
}

.feature-list h2 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #000000;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 1px;
    margin-top: 40px;
}

.feature-list h3 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.feature-list a {
    text-decoration: none;
    border-bottom: 1px solid #3498db;
    box-shadow: inset 0 -1px 0 #3498db;
    color: inherit;
    transition: background 0.1s cubic-bezier(.33, .66, .66, 1);
}

.feature-list a:hover {
    color: #000;
}


.feature-list-item {
    min-height: 100px;
    margin-top: 40px;
}

.feature-list-icon {
    font-size: 25px;
    color: #3498db;
    padding-bottom: 15px;
}